/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom styles to center the content */


.text-white {
  color: white;
}

.text-xl {
  font-size: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
